*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:sans-serif;
}
.body{
	background-color:#F6DDCC ;
}

.navbar {
    overflow: hidden;
    background-color: #AEB6BF  ;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style the logo */
.logo a {
    float: left;
    padding: 14px 20px;
    color: #1A5276;
    text-decoration: none;
	text-transform: uppercase;
    font-size: 20px;
	font-weight: bold;
}


/* Align navigation links to the right */  
.navbar-links {
    float: right;
}

/* Navigation links */
.navbar-links a {
    display: inline-block;
	list-style:none;
    color: black;
    padding: 15px 15px;
	font-size: 17px;
    text-decoration: none;
	font-weight:bold;
}

/* Change color on hover */
.navbar-links a:hover {
    
    color: white;
}
.contact {
	min-height:100vh;
	background-color:#e8fofe;
	padding:50px;
	text-align:center;
}
.container{
	max-width:800px;
	margin:0 auto;
	
}
.container h2{
	font-size:36px;
	margin-bottom:40px;
	color:#641E16;
	margin-top:30px;
}
.contact-wrapper{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:50px;
	margin-bottom:50px;
}
.contact-form{
	text-align:left;
	
}
.contact-form h3{
	font-size:24px;
	margin-bottom:20px;
	color:#154360 ;
}
.form-group{
	margin-bottom:20px;
}
input, textarea{
	width:100%;
	padding:12px;
	border-radius:8px;
	border:none;
	
	color:#FDFEFE;
}
input:focus,
textarea:focus{
	outline:none;
	box-shadow: 0 0 8px #34495E;
}
button{
	display:inline-block;
	padding:5px 15px;
	background-color:#AEB6BF;
	color:#154360;
	border:none;
	cursor:pointer;
	transition:0.3s ease;
}
button:hover{
	background-color:#D5DBDB;
}
.contact-info{

	border-radius:8px;
	border:none;
	text-align:left;
	background-color:#34495E;
}
.contact-info h3{
	margin-top:10px;
	font-size: 24px;
	margin-left:10%;
	margin-bottom:50px;
	color:#FDFEFE;
}
.contact-info p{
	margin-bottom: 10%;
	margin-left:20px;
	color:#FDFEFE;
}
